<!-- page footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo">Mytutor</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12">
                <ul>
                    <li><a href="#" class="sub_label">Learn more</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Our Tutors</a></li>
                    <li><a href="#">Our Company</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Site Map</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-12">
                <ul>
                    <li><a href="#" class="sub_label">Subjects</a></li>
                    <li ng-repeat="item in category | limitTo:5"><a title="{{ '{{ item.name }}' }}" href="{{ url_to('index/subjects') }}">{{ '{{ item.name }}' }}</a></li>

                </ul>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-12">
                <ul>
                    <li><a href="#" class="sub_label">Proudly Serving</a></li>
                    <li><a href="#">Libraries</a></li>
                    <li><a href="#">College & Universities</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-12">
                <ul>
                    <li><a href="#" class="sub_label">Call us at</a></li>
                    <li><a href="#">+918591468789</a></li>
                    <li><a href="#">+918591222192</a></li>

                </ul>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-12">
                <ul>
                    <li><a href="#" class="sub_label">Follow Us</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Google+</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end page footer -->

<!-- page copyright -->
<div class="copyright">
    <div class="container">
        <div class="row-fluid">
            <div class="col-md-8">
                <span>© 2015-2100 Mytutor.com, Inc. All rights reserved. | Privacy Policy  Terms of Use</span>
            </div>
        </div>
    </div>
</div>
<!-- end page copyright -->
