{% extends 'layouts/admin.twig' %}
{% block title %}Subject{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('admin/assets/tablesort/tablesort.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading bg-red">
            <h3 class="panel-title"><strong>Category : {{ data.name|title }} </strong> </h3>
        </div>
        <div  ng-controller="Subject" class="panel-body">
            <div class="row">
                <div class="col-md-12 m-b-20">
                    <div class="btn-group">
                        {#<button class="btn btn-danger" ng-click="addEnable = false;">Add Subject</button>#}
                    </div>
                </div>
                <div  class="col-md-12 col-sm-12 col-xs-12 table-responsive table-red">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <label><input type="search" class="form-control" ng-model="search" placeholder="Search a subject..."></label>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="{{ url_to('admin/add_subject') }}" class="btn btn-primary m-t-10"> Add Subject</a>
                            <a href="{{ url_to('admin/subject.view_all') }}" class="btn btn-success m-t-10"> View Subjects</a>
                        </div>
                    </div>
                    <br>

                    <table class="table table-striped table-hover" ts-wrapper id="">
                        <thead>
                        <tr>
                            <th ts-criteria="id">id </th>
                            <th ts-criteria="name">Subject name </th>
                            <th ts-criteria="created_at">Created at </th>
                            <th ts-criteria="updated_at">Updated at </th>
                            <th class="text-center">Action</th>

                        </tr>
                        </thead>
                        <tbody>

                        <tr role="row" ng-repeat="item in items | filter:search"  ts-repeat>
                            <td>
                                <span>{{ '{{item.id}}' }}</span>
                            </td>
                            <td>
                                <span ng-hide="editMode">{{ '{{item.name}}' }}</span>
                            </td>

                            <td>  <span ng-hide="editMode">{{ '{{item.created_at|myDateFormat }}' }}</span>  </td>
                            <td>  <span ng-hide="editMode">{{ '{{item.updated_at|myDateFormat }}' }}</span>  </td>

                            <td class="text-center">
                                <a href="{{ url_to('admin/subject.view')~'/{{ item.id }}' }}" class="btn btn-sm btn-default">View</a>
                                <a href="{{ url_to('admin/sub.edit')~'/{{ item.id }}' }}" class="btn btn-sm btn-default">Edit</a>
                                <button class="btn btn-sm btn-default" ng-hide="editMode" ng-click="delete(item);" >Delete</button>
                            </td>

                        </tr>

                        </tbody>

                        <tfoot>
                        <td colspan="3">
                            <div class="pagination">
                                <ul>
                                    <li ng-class="prevPageDisabled()">
                                        <a href ng-click="prevPage()">« Prev</a>
                                    </li>
                                    <li ng-repeat="n in range()"
                                        ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                                        <a href="#">{{ '{{n+1}}' }}</a>
                                    </li>
                                    <li ng-class="nextPageDisabled()">
                                        <a href ng-click="nextPage()">Next »</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        </tfoot>

                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('admin/assets/js/angular.min.js') }}"></script>
    <script src="{{ asset('admin/assets/tablesort/angular-tablesort.js') }}"></script>
    <script>
        var app = angular.module('MyApp',['tableSort']);
        app.controller("Subject",function($scope, $http){
            $scope.addEnable=true;

            $scope.temp=[];

           $scope.refresh=function(){
               $http.get('{{ url_to('admin/sub.show')}}/{{ id }}').success(function(data, status, headers, config){
                   $scope.items=data;
               }).error(function(data, status, headers, config){
                   alert(data);
               })
           }


            $scope.delete=function(item){
                var check=confirm('you really want to delete this subject!!!');
                if(check){
                    $http.post('{{ url_to('admin/sub.delete') }}',item).success(function(data,status){
                        $scope.refresh();
                    }).error(function(data,status){
                        console.log(data);
                    });
                }
            }
            $scope.refresh();
        });
        app.filter('myDateFormat', function myDateFormat($filter){
            return function(text){
                var  tempdate= new Date(text.replace(/-/g,"/"));
                return $filter('date')(tempdate, "dd-MMM-yyyy h:mm:ss a");
            }
        });


    </script>
{% endblock %}