{% extends 'layouts/tutor.twig' %}

{% block title %}Tutor Panel{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('tutor/css/cropper.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('tutor/css/main.css') }}"/>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="content">
                <div class="heading">
                    <h1>{{ data.title ~' '~ data.first_name }}'s Profile</h1>
                </div>

                <div class="box">
                    <div class="title">Profile Photo</div>
                </div>

                {#profile photo#}
                <div class="box_border">
                    <div id="crop-avatar">
                        <div class="avatar-view" title="Change the Profile Photo">
                            <img src="{{ asset('tutor/img/avatar/'~data.file) }}" alt="Avatar">
                        </div>

                        <div class="modal fade" id="avatar-modal" aria-hidden="true"
                             aria-labelledby="avatar-modal-label"
                             role="dialog" tabindex="-1">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <form class="avatar-form" action="{{ url_to('tpanel/index/profilephoto') }}"
                                          enctype="multipart/form-data" method="post">
                                        <div class="modal-header">
                                            <button class="close" data-dismiss="modal" type="button">&times;</button>
                                            <h4 class="modal-title" id="avatar-modal-label">Change Avatar</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="avatar-body">

                                                <!-- Upload image and data -->
                                                <div class="avatar-upload">
                                                    <input class="avatar-src" name="avatar_src" type="hidden">
                                                    <input class="avatar-data" name="avatar_data" type="hidden">
                                                    <label for="avatarInput">Local upload</label>
                                                    <input class="avatar-input" id="avatarInput" name="avatar_file"
                                                           type="file">
                                                </div>

                                                <!-- Crop and preview -->
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <div class="avatar-wrapper">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="avatar-preview preview-lg"></div>
                                                    </div>
                                                </div>

                                                <div class="row avatar-btns">
                                                    <div class="col-md-9">
                                                        <div class="btn-group">
                                                            <button class="btn btn-primary" data-method="rotate"
                                                                    data-option="-90" type="button"
                                                                    title="Rotate -90 degrees">Rotate Left
                                                            </button>
                                                            <button class="btn btn-primary" data-method="rotate"
                                                                    data-option="-15" type="button">-15deg
                                                            </button>
                                                            <button class="btn btn-primary" data-method="rotate"
                                                                    data-option="-30" type="button">-30deg
                                                            </button>
                                                            <button class="btn btn-primary" data-method="rotate"
                                                                    data-option="-45" type="button">-45deg
                                                            </button>
                                                        </div>
                                                        <div class="btn-group">
                                                            <button class="btn btn-primary" data-method="rotate"
                                                                    data-option="90" type="button"
                                                                    title="Rotate 90 degrees">Rotate Right
                                                            </button>
                                                            <button class="btn btn-primary" data-method="rotate"
                                                                    data-option="15" type="button">15deg
                                                            </button>
                                                            <button class="btn btn-primary" data-method="rotate"
                                                                    data-option="30" type="button">30deg
                                                            </button>
                                                            <button class="btn btn-primary" data-method="rotate"
                                                                    data-option="45" type="button">45deg
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <button class="btn btn-primary btn-block avatar-save"
                                                                type="submit">
                                                            Done
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="modal-footer">
                                          <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                                        </div> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /.modal -->
                    </div>
                </div>
                {#profile photo end#}

                {#personal info#}
                <br/>

                <form action="{{ url_to('tpanel/index/profileupdate') }}" method="post">
                <div class="box">
                    <div class="title">Personal Information</div>
                </div>

                <div class="box_border">
                    <div class="form">
                        <table>
                            <tr>
                                <td>Title</td>
                                <td>
                                    <select class="select" name="title" id="">
                                        <option value="">Select:</option>
                                        <option value="Mr">Mr</option>
                                        <option value="Miss">Miss</option>
                                        <option value="Mrs">Mrs</option>
                                        <option value="Dr">Dr</option>
                                        <option value="Prof">Prof</option>
                                        <option value="{{ data.title }}" selected>{{ data.title }}</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td>First Name</td>
                                <td style="padding:10px 0px;">
                                    {{ data.first_name }}
                                </td>

                            </tr>

                            <tr>
                                <td>Last Name</td>
                                <td><input type="text" value="{{ input_old('last_name',data.last_name) }}"
                                           name="last_name"
                                           class="txt_box"/>

                                    <div class="error">
                                        {{ errors.first('last_name') }}
                                    </div>
                                </td>

                            </tr>

                            <tr>
                                <td>Email Address</td>
                                <td>
                                    {{ data.email }}
                                </td>
                            </tr>

                            <tr>
                                <td>Address 1</td>
                                <td>
                                    <input type="text" value="{{ input_old('address1',data.address1) }}" name="address1"
                                           class="txt_box"/>

                                    <div class="error">
                                        {{ errors.first('address1') }}
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>Address 2 (optional)</td>
                                <td><input type="text" value="{{ input_old('address2',data.address2) }}" name="address2"
                                           class="txt_box"/>
                                </td>
                            </tr>


                            <tr>
                                <td>County</td>
                                <td>
                                    <select class="select" name="country" id="">
                                        <option value="">Country :</option>
                                        <option value="India">India</option>
                                        <option value="{{ data.country }}" selected>{{ data.country }}</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td>City</td>
                                <td>
                                    <select class="select" style="margin-top:3px;" name="city" id="">
                                        <option value="">City :</option>
                                        <option value="Ludhiana">Ludhiana</option>
                                        <option value="{{ data.city }}" selected>{{ data.city }}</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td>Postcode</td>
                                <td>
                                    <input type="text" name="postcode" value="{{ input_old('postcode',data.postcode) }}"
                                           class="txt_box"/>

                                    <div class="error">
                                        {{ errors.first('postcode') }}
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>Phone Number (home)</td>
                                <td><input type="text" value="{{ input_old('phone',data.phone) }}" name="phone"
                                           class="txt_box"/>
                                    <div class="error">
                                        {{ errors.first('phone') }}
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>Phone Number (mobile)</td>
                                <td>
                                    <input type="text" value="{{ input_old('mobile',data.mobile) }}" name="mobile"
                                           class="txt_box"/>

                                    <div class="error">
                                        {{ errors.first('mobile') }}
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>Date of Birth</td>
                                <td>
                                    <select class="date_select" style="margin-top:3px;" name="day" id="">

                                        <option value="">day</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                        <option value="{{ data.dob|date('d') }}"
                                                selected="selected">{{ data.dob|date('d') }}</option>
                                    </select>

                                    <select class="date_select" style="margin-top:3px;" name="month" id="">
                                        <option value="">month</option>
                                        <option value="01">January</option>
                                        <option value="02">February</option>
                                        <option value="03">March</option>
                                        <option value="04">April</option>
                                        <option value="05">May</option>
                                        <option value="06">June</option>
                                        <option value="07">July</option>
                                        <option value="08">August</option>
                                        <option value="09">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                        <option value="{{ data.dob|date('m') }}"
                                                selected="selected">{{ data.dob|date('M') }}</option>
                                    </select>

                                    <select class="date_select" style="margin-top:3px;" name="year" id="">
                                        <option value="">year</option>
                                        <option value="2009">2011</option>
                                        <option value="2009">2010</option>
                                        <option value="2009">2009</option>
                                        <option value="2008">2008</option>
                                        <option value="2007">2007</option>
                                        <option value="2006">2006</option>
                                        <option value="2005">2005</option>
                                        <option value="2004">2004</option>
                                        <option value="2003">2003</option>
                                        <option value="2002">2002</option>
                                        <option value="2001">2001</option>
                                        <option value="2000">2000</option>
                                        <option value="1999">1999</option>
                                        <option value="1998">1998</option>
                                        <option value="1997">1997</option>
                                        <option value="1996">1996</option>
                                        <option value="1995">1995</option>
                                        <option value="1994">1994</option>
                                        <option value="1993">1993</option>
                                        <option value="1992">1992</option>
                                        <option value="1991">1991</option>
                                        <option value="1990">1990</option>
                                        <option value="1989">1989</option>
                                        <option value="1988">1988</option>
                                        <option value="1987">1987</option>
                                        <option value="1986">1986</option>
                                        <option value="1985">1985</option>
                                        <option value="1984">1984</option>
                                        <option value="1983">1983</option>
                                        <option value="1982">1982</option>
                                        <option value="1981">1981</option>
                                        <option value="1980">1980</option>
                                        <option value="1979">1979</option>
                                        <option value="1978">1978</option>
                                        <option value="1977">1977</option>
                                        <option value="1976">1976</option>
                                        <option value="1975">1975</option>
                                        <option value="1974">1974</option>
                                        <option value="1973">1973</option>
                                        <option value="1972">1972</option>
                                        <option value="1971">1971</option>
                                        <option value="1970">1970</option>
                                        <option value="1969">1969</option>
                                        <option value="1968">1968</option>
                                        <option value="1967">1967</option>
                                        <option value="1966">1966</option>
                                        <option value="1965">1965</option>
                                        <option value="1964">1964</option>
                                        <option value="1963">1963</option>
                                        <option value="1962">1962</option>
                                        <option value="1961">1961</option>
                                        <option value="1960">1960</option>
                                        <option value="1959">1959</option>
                                        <option value="1958">1958</option>
                                        <option value="1957">1957</option>
                                        <option value="1956">1956</option>
                                        <option value="1955">1955</option>
                                        <option value="1954">1954</option>
                                        <option value="1953">1953</option>
                                        <option value="1952">1952</option>
                                        <option value="1951">1951</option>
                                        <option value="1950">1950</option>
                                        <option value="1949">1949</option>
                                        <option value="1948">1948</option>
                                        <option value="1947">1947</option>
                                        <option value="1946">1946</option>
                                        <option value="1945">1945</option>
                                        <option value="1944">1944</option>
                                        <option value="1943">1943</option>
                                        <option value="1942">1942</option>
                                        <option value="1941">1941</option>
                                        <option value="1940">1940</option>
                                        <option value="1939">1939</option>
                                        <option value="1938">1938</option>
                                        <option value="1937">1937</option>
                                        <option value="1936">1936</option>
                                        <option value="1935">1935</option>
                                        <option value="1934">1934</option>
                                        <option value="1933">1933</option>
                                        <option value="1932">1932</option>
                                        <option value="1931">1931</option>
                                        <option value="1930">1930</option>
                                        <option value="1929">1929</option>
                                        <option value="1928">1928</option>
                                        <option value="1927">1927</option>
                                        <option value="1926">1926</option>
                                        <option value="1925">1925</option>
                                        <option value="1924">1924</option>
                                        <option value="1923">1923</option>
                                        <option value="1922">1922</option>
                                        <option value="1921">1921</option>
                                        <option value="1920">1920</option>

                                        <option value="{{ data.dob|date('Y') }}"
                                                selected="selected">{{ data.dob|date('Y') }}</option>
                                    </select>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
                {#personal info done#}

                {#account info begin#}
                <br/>

                <div class="box">
                    <div class="title">Account Information</div>
                </div>

                <div class="box_border">
                    <div class="form">
                        <br/>
                        <table>

                            <tr>
                                <td>Username</td>
                                <td>
                                    {{ data.user.username }}
                                </td>
                            </tr>
                        </table>
                        <br/>
                    </div>
                </div>
                {#account info done#}

                {# other information #}
                <br/>

                <div class="box">
                    <div class="title">Other Information</div>
                </div>

                <div class="box_border">
                    <div class="form">
                        <br/>
                        <table>

                            <tr>
                                <td>Comments about yourself*</td>
                                <td>
                                <textarea class="textarea" name="description" cols="30" rows="10">{{ input_old('description',data.description) }}</textarea>

                                    <div class="error">
                                        {{ errors.first('description') }}
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>Your Availability*</td>
                                <td>
                                   <textarea class="textarea" name="availability" id="" cols="30" rows="2">{{ input_old('availability',data.availability) }}</textarea>

                                    <div class="error">
                                        {{ errors.first('availability') }}
                                    </div>
                                </td>
                            </tr>

                        </table>
                        <br/>
                    </div>
                </div>

                {#end other infomation#}
                <div class="submit">
                    <br/>
                    <i>All the fields are required.</i><br/><br/>
                    <input type="submit" value="Update" class="submit_btn"/>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('tutor/js/cropper.min.js') }}"></script>
    <script src="{{ asset('tutor/js/main.js') }}"></script>
{% endblock %}
