{% extends 'layouts/tutor.twig' %}
{% block title %} Qualification {% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="content">
                <div class="heading">
                    <h1>Qualification</h1>
                </div>

                {% if session_has('success') %}
                    <div class="success_alert">{{ session_get('success') }}</div>
                {% endif %}

                <div class="box">
                    <div class="title">
                        Qualification
                    </div>
                </div>

                <div class="box_border">
                    <div class="form">
                        <form action="{{ url_to('tpanel/document/qualification') }}" method="post">
                            <table>
                                <tr>
                                    <td>Qualification</td>
                                    <td>
                                        <textarea name="qualification" cols="30" rows="7" class="textarea">{{ input_old('qualification',data.qualification) }}</textarea>
                                        <div class="error">
                                            {{ errors.first('qualification') }}
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Experience</td>
                                    <td>
                                        <textarea name="experience" cols="30" rows="7" class="textarea">{{ input_old('experience',data.experience) }}</textarea>
                                        <div class="error">
                                            {{ errors.first('experience') }}
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td><button type="submit" class="submit_btn">Update</button></td>
                                </tr>

                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
