{% extends 'layouts/front.twig' %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <a href="{{ url_to('index/signin') }}" title="Sign in">Sign In</a>
    </div>
{% endblock %}

{% block content %}
    <div class="p_heading">
        <h1>Sign in</h1>
    </div>

    <div class="col-md-6" style="padding:0px;">
        <div class="signup">
            <br/>

            {% if session_has('success') %}
                <div class="success_alert">{{ session_get('success') }}</div>
            {% endif %}

            <div class="pi">
                <div class="title">Reset Password</div>
            </div>

            <form action="{{ url_to('tutor/resetpassword') }}" method="post">
                <div class="form">
                    <br/>
                    <table>
                        <tr>
                            <td>Password</td>
                            <td>
                                <input type="text" name="password" class="txt_box"/>
                                <div class="error">
                                    {{ errors.first('password') }}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Confirm Password</td>
                            <td>
                                <input type="password" name="password_confirm" class="txt_box"/>
                                <div class="error">
                                    {{ errors.first('password_confirm') }}
                                </div>
                                <input type="hidden" name="username" value="{{ data.username }}" />
                                <input type="hidden" name="reset_code" value="{{ data.reset }}" />
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" value="Reset"  class="login_btn"/>
                                <br/><br/>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>

        </div>
    </div>
{% endblock %}