{% extends 'layouts/front.twig' %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <a href="{{ url_to('index/signin') }}" title="Sign in">Sign In</a>
    </div>
{% endblock %}

{% block content %}
    <div class="p_heading">
        <h1>Sign in</h1>
    </div>

    <div class="col-md-6" style="padding:0px;">
        <div class="signup">

            {% if session_has('success') %}
                <div class="success_alert">{{ session_get('success') }}</div>
            {% endif %}


            <div class="pi">
                <div class="title">Please sign in here</div>
            </div>

            <div class="form">
                <br/>
                <form action="{{ url_to('tutor/signin') }}" method="post">

                    <table>
                        <tr>
                            <td>Username</td>
                            <td><input type="text" value="{{ input_old('username') }}" name="username" class="txt_box"/>
                                <div class="error">
                                    {{ errors.first('username') }}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Password</td>
                            <td><input type="password" name="password" class="txt_box"/>
                                <div class="error">
                                    {{ errors.first('password') }}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>

                                <input type="submit" value="Sign In"  class="login_btn"/>
                                <br/><br/>
                            </td>
                        </tr>

                    </table>
                </form>
            </div>

            <div class="form_footer">
                <a href="{{ url_to('index/forgot') }}">Forgot Password ?</a>
                <a href="{{ url_to('index/signup') }}" style="float:right;" >Register for new tutor</a>
                <div class="clear"></div>
            </div>
        </div>
    </div>
{% endblock %}